<div class="blue darken-4 bodyDiv">
  <div class="container bodyContainer">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
              <li class="tab">
                <a class="active" href="#comp1">Login</a>
              </li>
              <li class="tab">
                <a href="#comp2">Sign up</a>
              </li>
            </ul>
          </div>
          <div class="card-content" style="padding: 20px 12px;">
            <div id="comp1">
              <app-login></app-login>
            </div>
            <div id="comp2">
              <app-signup></app-signup>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>